* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: 100%;
  }


  body {
    width: 100%;
    height: 100%;
    font-family: Inter;
  }
  
  #main {
    width: 100%;
    height: 100%;
  }
  
  #rectangle1 {
    width: 100%;
    height: 71%;
    background-color: #ffcd9e;
    display: inline-flex;
    justify-content: center;
    padding-bottom: 20px;
  }

 .text-box {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
  }

 .text-box h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
 .text-box p {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 15px;
    color: #484848;
  }
 .text-box h4 {
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    color: #282828;
    margin-bottom: 28px;
  }
  
 .text-box input {
    width: 320px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 3px solid black;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
  }
  
 .text-box button {
    width: 200px;
    height: 45px;
    border-radius: 8px;
    margin-left: 15px;
    margin-bottom: 12px;
    color: #ffffff;
    background-color: #282828;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  
  .user_mail {
    display: flex;
    align-items: center;
  }

 .text-box span {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-left: 40px;
  }

  .photo img {
    display: inline-flex;
    height: 455px;
    width: 460px; 
    flex-shrink: 0;
    margin-left: 110px;
  }
  

  #rectangle2 {
    width: 100%;
    height: 29%;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-style: Inter;
    padding: 90px 0;
  }
  
  #rectangle2 #goto a {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 270px;
    font-family: Inter;
  }
  
  #connect {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    margin-right: 60px;

  }
  
  #connect a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    margin: 8px 0;
    text-align: right;
    font-family: Inter;
    font-style: normal;
  }

  
  #connect img {
    margin: 10px 0;
  }

